.modal-close {
  display: block;
  text-align: left;
  font-size: 30px;
}
.modal-content h2 {
  font-size: 15px;
}

.profile,
.profile-detail {
  display: flex;
}
.profile {
  justify-content: space-between;
}
.profile img {
  display: block;
  max-height: 20px;
  margin-top: 10px;
}
.profile-detail > img {
  max-height: 40px;
  margin-top: 0;
  margin-right: 3px;
}
.profile-text div {
  text-align: left;
}
.profile-text div {
  font-size: 15px;
}
.profile-text p {
  color: #5e5e5e;
  font-size: 10px;
}

.stars span {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 3px 0;
}
.stars input[type="radio"] {
  display: none;
}
.stars label {
  color: #d2d2d2;
  font-size: 25px;
  padding: 0 5px;
  cursor: pointer;
}
.stars label:hover,
.stars label:hover ~ label,
.stars input[type="radio"]:checked ~ label {
  color: #f8c601;
}
textarea {
  width: 100%;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  padding: 5px;
}
textarea::placeholder {
  font-size: 10px;
}
.discount {
  padding: 5px 0;
  text-align: left;
}
.discount div {
  font-size: 15px;
}
.discount label,
.discount label {
  font-size: 12px;
}

.favorite {
  padding: 5px 0;
  text-align: left;
}
.favorite div {
  font-size: 15px;
}

.image {
  padding: 5px 0;
}
.image div {
  font-size: 15px;
}
.image-upload {
  display: flex;
  justify-content: center;
  border: 1px solid #5e5e5e;
  border-radius: 15px;
  padding: 5px 0;
}
.image-upload img {
  margin-right: 3px;
}
.image-upload p {
  font-size: 12px;
}

input[type="submit"] {
  color: #fff;
  background-color: #2d70eb;
  display: block;
  display: flex;
  justify-content: center;
  border: 1px solid #2d70eb;
  border-radius: 15px;
  font-size: 12px;
  width: 100%;
  padding: 5px 0;
  margin-top: 15px;
}

@media (min-width: 800px) {
  .modal-content {
    width: 550px;
    padding: 0 20px;
  }
}
