.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #ffff;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  padding: 0 10px;
}
.modal-close {
  font-size: 30px;
}
.modal-content h2 {
  font-size: 15px;
}

.profile,
.profile-detail {
  display: flex;
}
.profile {
  justify-content: space-between;
}
.profile img {
  display: block;
  max-height: 20px;
  margin-top: 10px;
}
.profile-detail > img {
  max-height: 40px;
  margin-top: 0;
  margin-right: 3px;
}
.profile-text div {
  font-size: 15px;
}
.profile-text p {
  color: #5e5e5e;
  font-size: 10px;
}

.stars span{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 3px 0;
}
.stars input[type='radio']{
  display: none;
}
.stars label{
  color: #D2D2D2;
  font-size: 30px;
  padding: 0 5px;
  cursor: pointer;
}
.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
  color: #F8C601;
}
textarea {
  width: 100%;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  padding: 5px;
}
textarea::placeholder {
  font-size: 10px;
}
.discount {
  padding: 5px 0;
}
.discount div {
  font-size: 15px;
}
.discount label, .discount label {
  font-size: 12px;
}

.favorite {
  padding: 5px 0;
}
.favorite div {
  font-size: 15px;
}

